/* JOSH COMEAU CSS RESET */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.logo p {
  font-family: "Cinzel Decorative";
  font-weight: bold;
  font-size: 2rem;
}

.logo, .header {
  display: flex;
  align-items: center;
}

.header {
  background-color: #cbbfb2;
  padding: 3vw;
  justify-content: space-between;
}

.header-title {
  font-size: 2rem;
  font-weight: bold;
}

.main, .card-container, .card {
  display: grid;
}

.main {
  grid-template-rows: 1fr 5fr;
  width: 100vw;
  height: 100vh;
}

.card-container {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2vw;
  padding: 3vw;
}

.card {
  background-color: rgb(218, 218, 218);
  padding: 1.5rem;
  grid-template-rows: 3fr 1fr;
  border-radius: 10px;
  max-height: 38vh;
}

.title, .author {
  text-align: center;
}

.title {
  text-align: center;
  font-family: "Cinzel Decorative";
  line-height: 1.2;
  font-size: 1.5rem;
}

.author {
  opacity: 0.5;
  margin-top: 1rem;
}

.book-info {
  background-color: rgb(232, 232, 232);
  padding: 1rem;
}

dialog {
  width: 40%;
  height: 65%;
  margin: 15vh auto;
  border-radius: 15px;
  padding: 3vw;
  font-size: 1.2rem;
}

.block {
  display: block;
}

input[type="text"] {
  width: 100%;
}

form div {
  margin-bottom: 0.8rem;
}

.book-buttons {
  margin-top: 1.5vh;
  display: flex;
  flex-direction: column;
  gap: 4px;
}